
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <h1>Yeni Kategori Ekleme Sayfası</h1>
</body>
</html>
