@model EntityLayer.Concrete.Content

@{
    ViewData["Title"] = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h1>İçerik Girişi</h1>
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden"  name="HeadingID" value="@ViewBag.d" />
        <br />
        @Html.Label("İçeriğinizi Yazın")
        @Html.TextAreaFor(x => x.ContentValue,4,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
       


        <button id="kaydet" class="btn btn-info">Kaydet</button>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("kaydet").addEventListener("click", function (event) {
        event.preventDefault(); // Bu satır, formun otomatik olarak submit edilmesini engeller

        Swal.fire({
            title: 'Tebrikler!',
            text: 'İçerik Başarıyla Oluşturuldu.',
            icon: 'success',
            confirmButtonText: 'İlerle'
        }).then((result) => {
            if (result.isConfirmed) {
                // Formu submit edin
                document.forms[0].submit();
            }
        });
    });
</script>
