
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div><form method="post" action="#">
            <div class="modal-body">
                
                    <label for="text1">Hakkımızda Metin 1</label>
                    <input type="text" id="text1" name="text1" class="form-control" /><br />
                    <label for="text2">Hakkımızda Metin 2</label>
                    <input type="text" id="text2" name="text2" class="form-control" /><br />
                    <label for="text3">Hakkımızda Metin 3</label>
                    <input type="text" id="text3" name="text3" class="form-control" /><br />
                    <label for="text4">Hakkımızda Metin 4</label>
                    <input type="text" id="text4" name="text4" class="form-control" /><br />
                    <button class="btn btn-info" >Hakkımızda Metin Ekle</button>

                </div>
            </form>
        </div>
    </div>
</div>

